body, html{
	background-image: url('/img/background.jpg');
	background-size: cover;
	font-family: 'Cabin', sans-serif;
}
body h1{
	font-family: 'Merriweather', serif;
	color:#fff;
}
.wrap {
  max-width: 500px;
  margin: 70px auto;
}
.myShips{
	width: 300px;
	margin:20px auto;
}
div {
  box-sizing: border-box;
}
.mySquare{
	width:40px;
	height:38px;
	background:#F0EFF5;
  	border: 1px solid #010086;
  	display: inline-block;
  	margin-bottom: -6px;
  	margin-left: -6px;
  	transition: all ease .2s;
}
.square,
.green {
  width: 55px;
  height: 55px;
  background:#F0EFF5;
  border: 1px solid #010086;
  display: inline-block;
  margin-bottom: -6px;
  margin-left: -6px;
  transition: all ease .2s;
}
.square {
  cursor: url(http://png-1.findicons.com/files/icons/2579/iphone_icons/40/aim.png), pointer;
}

.square:hover {
  transform: scale(1.05);
  background: url('/img/cell-bg.gif');
  background-size: cover;
}

.red {
  background-color: red;
}

.red:hover {
  box-shadow: 2px 2px 20px black;
}

.red.green {
  background-color: green;
}

button {
  display: block;
  width: 110px;
  height: 50px;
  background-color: green;
  border:none;
  color: #fff;
  cursor: pointer;
  transition: all ease .3s;
}
button:hover {
  box-shadow: 2px 2px 20px black;
  transform: scale(1.1);
}

.mes-inner {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 600px;
  height: 300px;
  line-height: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-family: Arial;
  font-weight: bold;
  box-shadow: 2px 2px 40px black;
  display: none;
}

.message {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  display: none;
}

.stat-message {
  background-color: green;
  color: #fff;
  box-shadow: 2px 2px 20px black;
  width: 110px;
  font-family: 'Cabin', sans-serif;
}
.stat-message div {
  padding: 10px;
  border-bottom: 1px solid white;
}
.stat-message div:last-child {
  border-bottom: none;
}
form {
  margin-top: 150px;
}