body, html{
	background-image: url('/img/background.jpg');
	background-size: cover;
	font-family: 'Josefin Sans', sans-serif;
}
body h1{
	font-family: 'Dosis', sans-serif;
	color:#fff;
	text-align: center;
	font-weight: 800;
	font-size: 3.5em;
	letter-spacing: 0.2em;
}

body h4{
	color:#008000;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 1.8em;
}
.wrapper{
	display:none;
}

.login-form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  background:transparent;
  font-family: 'Dosis', sans-serif;
}

.login-form .usernameInput {
  background-color:transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 5px;
  text-align: center;
  width: 400px;
}
.title {
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  color:#fff;
}
.usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.title, .usernameInput {
  color: #fff;
  font-weight: 100;
}

.otherShips {
  max-width: 550px;
  margin: 10px auto;
}
.myShips{
	max-width: 250px;
	float:left;
	padding:0 0;
	margin:10px auto;
  z-index: 999;
}
div {
  box-sizing: border-box;
}
#myShips>.square{
	width:25px;
	height:25px;
	background:#F0EFF5;
  border: 1px solid #010086;
  display: inline-block;
  margin-bottom: -6px;
  transition: all ease .2s;
}
#otherShips>.square {
  width: 55px;
  height: 55px;
  background:#F0EFF5;
  border: 1px solid #010086;
  display: inline-block;
  margin-bottom: -6px;
  transition: all ease .2s;
}
#otherShips>.square {
  cursor: url(http://png-1.findicons.com/files/icons/2579/iphone_icons/40/aim.png), pointer;
}

#otherShips>.square:hover {
  transform: scale(1.05);
  background: url('/img/cell-bg.gif');
  background-size: cover;
}

button {
  display: block;
  height: 70px;
  margin-top: 20px;
  width:100%;
  background-color: green;
  border:none;
  color: #fff;
  cursor: pointer;
  transition: all ease .3s;
}
button:hover {
  box-shadow: 2px 2px 20px black;
  transform: scale(1.1);
}

.stat-message {
  background-color: green;
  color: #fff;
  box-shadow: 2px 2px 20px black;
  font-size: 1.5em;
  margin-top: 15px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.stat-message div {
  padding: 10px;
  border-bottom: 1px solid white;
}
.stat-message div:last-child {
  border-bottom: none;
}
form {
  margin-top: 150px;
}

.main{
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
	border-radius: 0.2em;
}
#chat{
	padding:1em 3em;
	overflow-y: scroll;
	font-family: 'Josefin Sans', sans-serif;
	font-size:1.2em;
	color:#000;
	height:215px;
}
#input{
	padding:1.2em 1em;
	font-family: 'Josefin Sans', sans-serif;
}
#status{
	color:#363636;
}
.chooseShips{
  display:none;
  height:100%;
  width:75%;
  position:absolute;
  top:100px;
  left:500px;
  background:rgba(0,0,0,0.8);
  color:#fff;
  z-index: 99;
  padding-top:3em;
  padding-left:2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  top: 0;
  left: 25%;
  margin: 0;
}
/*Scrollbar*/
#chat::-webkit-scrollbar {
  width: 8px;
}

#chat.thin::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100,100,100,0.4); 
}